<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nuevo Contenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen center>

  <ion-input type="file"></ion-input>
  
  <ion-card>
    <ion-card-content>
      <ion-label>
        <p>Descripción</p>
        <div style="border-style: ridge">
          <ion-input type="text"></ion-input>
        </div>
      </ion-label>
    
      <ion-label>
        <p>Precio</p>
        <div style="border-style: ridge">
          <ion-input type="number"></ion-input>
        </div>
      </ion-label>
    
      <ion-label>
        <p>Nombre</p>
        <div style="border-style: ridge">
          <ion-input type="text"></ion-input>
        </div>
      </ion-label>
    
      <ion-label>
        <p>Teléfono Vendedor</p>
        <div style="border-style: ridge">
          <ion-input type="number"></ion-input>
        </div>
      </ion-label>
    
      <ion-label>
        <p>Vivienda</p>
        <div style="border-style: ridge">
          <ion-input type="number"></ion-input>
        </div>
      </ion-label>
    
      <ion-label>
        <p>Estado</p>
        <select>
          <option>Usado</option>
          <option ng-selected="mySel">Nuevo</option>    
        </select>
      </ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-button routerLink="/home" ng-href="" color="success">Subir Contenido</ion-button>

  

</ion-content>
