<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BLOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <img src="../../assets/imgs/ejemplo.jpg"/>

    <ion-card-content>
      Descripción del objeto en venta que es traído 
      por la bdd
    </ion-card-content>

    <ion-button color="tertiary" routerLink="/detalles" ng-href="">Ver Detalles</ion-button>
  </ion-card>
</ion-content>
