.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-content{
  --background: url('../../assets/imgs/fondo1.jpg')  no-repeat 50% 10%;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }
