<ion-content center text-center>
  <ion-card>
    <ion-card-header>
      <ion-card-title center text-center class="text"><h1>Bienvenido a BLOC</h1></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text class="text">
        <p class="text">Esta es tu aplicación de compra y venta de artículos en línea.
          Para seguir utilizando la aplicación debes: iniciar sesión con tu nombre de usuario y tu contraseña.
          Y si no tienes una cuenta puedes creartela totalmente gratis.
        </p>
    </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button color="success" routerLink="/login" ng-href="" center text-center>Iniciar Sesión</ion-button><br>
  <ion-button color="success" routerLink="/registro" ng-href="" center text-center>Registrarse</ion-button>
</ion-content>

